* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #BF53FF;
  color: white;
  padding: 30px 0;
}

header h1 {
  text-align: center;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#merchandise{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.items {
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}

.product {
  text-align: center;
  background-color: #CBC3E3;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 500px; 
}

.product img {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  border: 2px solid #CBC3E3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product h2 {
  margin: 10px 0;
  font-size: 18px; 
}

.product button {
  background-color: #BF53FF;
  color: white;
  padding: 10px 20px; 
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-size: 16px;
  width: 150px;
}

.product button:hover {
  background-color: #a94bd4;
}

@media (max-width: 768px){
  #merchandise{
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .items {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    flex-wrap: wrap;
    max-width: 100%;
  }
  
  .product {
    text-align: center;
    background-color: #CBC3E3;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: auto; 
    margin-bottom: 20px;
  }
  
  .product img {
    width: 100%;
    height: 350px; 
    object-fit: cover; 
    border: 2px solid #CBC3E3;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product h2 {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.4; 
  }
}